@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Averta-Regular', sans-serif;
}

.title {
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    color: #000;
    font-family: 'BrandonGrotesque-Black';
    letter-spacing: 15px;
    text-transform: uppercase;
    display: inline;

}

.title span {
    font-family: 'BrandonGrotesque-Black';
    text-shadow: 6px 6px #ffb8b8;
}

.subtitle {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 50px 0;
    color: #000;
    letter-spacing: 1px;
}

.subsubtitle {
    font-weight: normal;
    font-size: 2em;
    color: #f5d2d3;
    line-height: 60px;
    text-transform: lowercase;
    letter-spacing: 0.4px;
    margin: 20px 0 0 0;
}

.body-text {
    font-size: 15px;
    line-height: 29px !important;
}

table hr {
    background: #000;
    border: none;
    height: 1px;
    width: 50px;
    margin: 20px 0;
}

.btn {
    margin: 0;
    display: inline-block;
    background: #000;
    border: none;
    text-decoration: none;
    color: #fff;
    transition: .1s ease-in-out;
    padding: 20px 0;
    width: 80%;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'BrandonGrotesque-Medium';
    letter-spacing: 2px;
}

.btn:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

body {
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.hide-on-mobile {
    display: none;
}

#mobile-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background: #3b3d3e;
    z-index: 1000;
    transition: 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    overflow: hidden;
}

#mobile-menu.open {
    top: 0;
    left: 0;
}

.fa-times {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #fff;
}

#mobile-menu ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mobile-menu ul li {
    width: 100%;
    padding-left: 22px;
}

#mobile-menu ul li a {
    display: block;
    padding: 13px 9px;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    overflow-x: hidden;
    font-family: 'Averta-Bold';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar,
.header-info-container {
    display: none;
}

.logo-container {
    text-align: center;
    padding: 20px 0;
}

.logo {
    font-size: 30px;
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
}

.fa-bars {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #000;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.hero-content {
    z-index: 99;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 90px 0;
    background: red;
    background-image: url(../img/hero_bg.png);
    background-size: cover;
    background-position: center;
}

.hero-content h1 {
    font-size: 3em;
}

.hero-content h2 {
    font-size: 1em;
    margin: 20px auto 0 auto;
    max-width: 600px;
    width: 95%;
}

.hero hr {
    margin: 30px auto;
    width: 50px;
    border: none;
    height: 8px;
    background: #000;
}

.hero-carousel {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left: 13px !important;
    z-index: 1;
}

.slick-next {
    right: 13px !important;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    color: rgba(0, 0, 0, 0.67) !important;
}

.slick-prev:before:hover,
.slick-next:before:hover {
    color: rgba(0, 0, 0, 1) !important;
}

.slide p {
    margin: 0 auto 40px auto;
    max-width: 80%;
}

.slide {
    padding: 120px 0;
}

.slide1 {
    background-image: url(../img/hero_bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.slide2 {
    background-image: url(../img/slide2-bg-alt.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.slide3 {
    background-image: url(../img/013%20Heavy%20Rain.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.carousel-img {
    display: none !important;
}

.services {
    text-align: center;
    margin-top: 30px;
}

.services h1 {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    color: #e79396;
    padding: 20px 0;
}

.services h2 {
    font-size: 1.6em;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    margin: 10px 0 30px 0;
    letter-spacing: 1px;
}

.quarter-column {
    width: 100%;
    float: left;
}

.services img {
    width: 100%;
    display: block;
}

.advert table {
    border-collapse: collapse;
    overflow: hidden;
}

.advert img {
    width: 100%;
}

.advert table td {
    width: 50%;
}

.advert table td:nth-of-type(2) {
    background: #2C3A47;
}

.advert h1 {
    text-align: center;
}

section.page-section h1.subtitle {
    width: 900px;
    margin: 60px auto;
}

section.page-section table {
    width: 100%;
}

section.page-section table td {
    width: 100%;
    float: left;
}

section.page-section table td li {
    line-height: 29px;
}

table.pricelist p {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.37);
}

table.pricelist h2 {
    margin: 30px 0 0 0;
}

form {
    width: 95%;
    max-width: 600px;
    margin: 50px auto;
}

input,
textarea {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 60px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
    font-size: 1.2em;
    font-family: 'Averta-Bold';
}

input::placeholder,
textarea::placeholder {}

form .btn {
    width: 300px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (min-width: 728px) {
    body {
        background: #fff;
    }

    .title {
        font-size: 6em;
        line-height: 1.1em;
        display: inline;
    }

    .subtitle {
        font-size: 1.1em;
    }

    .subsubtitle {
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        font-size: 2em;
        color: #f5d2d3;
        line-height: 60px;
        text-transform: lowercase;
        letter-spacing: 1px;
    }

    .hide-on-mobile {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    header {
        transition: .2s ease-in-out;
        padding: 5px 0 0 0;
    }

    .logo-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        text-align: center;
    }

    .fa-bars {
        display: none !important;
    }

    .header-info-container {
        width: 100%;
        padding: 1px 0;
        display: block;
    }

    .header-info-container a {
        float: right;
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-family: 'Averta-Bold';
        padding: 2px 8px;
    }

    .header-info-container a:hover {
        text-decoration: underline;
    }

    .navbar {
        overflow: hidden;
        text-align: center;
        display: block;
        width: 562px;
        margin: 10px auto 0 auto;
        padding-bottom: 10px;
    }

    .navbar a {
        float: left;
        font-size: 13px;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Averta-Bold';
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: .1s ease-in-out;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 13px;
        border: none;
        outline: none;
        color: #000;
        padding: 14px 16px;
        background-color: inherit;
        font-family: 'Averta-Bold';
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
        transition: .1s ease-in-out;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
        color: #f5d2d3;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 13px;
        color: #000;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .hero {
        width: 100%;
    }

    .hero hr {
        margin: 40px 0;
    }

    .slide p {
        margin: 40px 0;
        max-width: 50%;
    }

    .slide1,
    .slide2,
    .slide3 {
        text-align: left;
    }

    .slide2 {
        background-image: url(../img/slide2-bg-alt.png);
    }

    .carousel-img {
        display: block !important;
        float: right;
        height: 454px;
    }

    .hero h1 {
        width: 100%;
    }


    .hero a {
        padding: 20px 0;
        width: 300px;
        text-align: center;
    }

    .quarter-column {
        width: 25%;
        height: 90px;
        background: red;
        border: 10px solid white;
        box-sizing: border-box;
        float: left;
    }

    .advert {
        margin-top: 500px;
    }

    section.page-section table {
        width: 100%;
    }

    section.page-section table td {
        width: 48%;
        float: left;
    }

    section.page-section table td:nth-child(2) {
        width: 48%;
        float: right;
    }

    section.page-section table span {
        float: right;
    }

}
