@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Whitney-Book';
}

.title {
    font-size: 3em;
    margin: 0;
    color: #000;
    font-family: 'Amiri', serif;
    font-weight: normal;
    letter-spacing: 1px;
    display: inline;
}

.supertitle span {
    font-family: 'Amiri', serif;
    font-weight: 700;
    background: rgb(0, 212, 255);
    background: linear-gradient(180deg, rgba(0, 212, 255, 0) 50%, rgba(250, 193, 217, 1) 50%, rgba(250, 193, 217, 1) 70%, rgba(251, 158, 196, 0) 70%);
}

.supertitle {
    font-size: 4em;
    color: black;
    font-family: 'Amiri', serif;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline;
}

.mini-title {
    font-size: 4em;
}

.subtitle {
    display: inline-block;
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-size: 3em;
    line-height: 1em;
    color: #000;
    letter-spacing: 1px;
    margin: 0;
    text-transform: lowercase;
    margin-top: 40px;
}

.body-text {
    font-size: 1.2em;
    line-height: 1.6em;
}

.body-text b {
    margin-bottom: 200px;
}

.btn {
    margin: 0;
    display: inline-block;
    background: #fac1d9;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    transition: .1s ease-in-out;
    padding: 20px 0;
    width: 80%;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

hr {
    margin: 40px 0;
    width: 60px;
    height: 3px;
    border: none;
    background: #fb9ec4;
}

body {
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.hide-on-mobile {
    display: none;
}

#mobile-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background: #3b3d3e;
    z-index: 1000;
    transition: 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile-menu.open {
    top: 0;
    left: 0;
}

.fa-times {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #fff;
}

#mobile-menu ul {
    width: 100%;
    list-style: none;
    margin: -80px 0 0 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#mobile-menu ul li {
    width: 100%;
}

#mobile-menu ul li a {
    display: block;
    padding: 13px 9px;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    overflow-x: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Barlow Condensed', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 20px 0;
}

.navbar {
    width: 100%;
}

.logo img {
    height: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.nav-links {
    display: none;
}

.fa-bars {
    position: absolute;
    left: 30px;
    top: 40px;
    color: #000;
}

.hero {
    width: 100%;
    padding: 140px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(../img/hero_bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    -webkit-clip-path: polygon(0 0, 1920px 0, 1920px 100%, 0 90%);
    clip-path: polygon(0 0, 1920px 0, 1920px 100%, 0 90%);
}

.hero h4 {
    font-weight: normal;
    line-height: 1.6em;
    margin: 50px 0 30px 0;
    font-size: 1.2em;
    max-width: 500px;
}

.hero .btn {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.section {
    padding: 90px 0;
    width: 100%;
    float: left;
}

.front-services {
    float: left;
}

.column-1-3 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: 1px solid white;
}

.front-services .card {
    width: 100%;
    padding: 0 0 30px 0;
    float: left;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-bottom: 30px;
    background: #eeeff5;
    border-bottom: 3px solid #ccc;
}

.front-services .card img {
    width: 100%;
    margin-bottom: 30px;
}

.front-services .card p {
    padding: 0 10px;
}

.front-services .card .btn {
    width: 50%;
    margin-top: 40px;
    border-top-left-radius: 0;
}

.front-services > .btn {
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.gift-vouchers {
    background-image: url(../img/gift_bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    float: left;
}

.gift-vouchers h1 {
    text-align: center;
}

.gift-vouchers .btn {
    background: black;
    width: 90%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 50px;
}

.gift-vouchers .btn:hover {
    background: #333;
}

.front-about {
    text-align: center;
    background: #f2f3f4;
}

.front-about p {
    text-align: left;
    max-width: 600px;
    margin: 40px auto 0 auto;
}

.carousel {
    width: 90%;
    margin: 80px auto 0 auto;
    display: flex;
}

.carousel div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel p {
    max-width: 800px;
    width: 90%;
    font-size: 1.8em;
    font-family: 'Amiri', sans-serif;
}

.carousel p span {
    font-size: 3em;
}

.carousel p.sig {
    font-size: 1.2em;
    font-style: italic;
}

.slick-prev:before {
    color: black;
}

.slick-next:before {
    color: black;
}

.pricelist .hero,
.thingstoknow .hero {
    text-align: center;
    padding: 125px 0 75px 0;
}

table.pricelist-desktop,
table.things-desktop {
    display: none;
}

table.pricelist p {
    line-height: 3em;
    border-bottom: 1px dotted black;
}

table.pricelist p span {
    float: right;
}

table.pricelist-mobile {
    width: 100%;
    margin-bottom: 100px;
}

table.pricelist-mobile tr {
    height: 50px;
}

table.pricelist-mobile td {
    box-sizing: border-box;
    border-bottom: 1px dotted black;
    vertical-align: middle;
}

table.pricelist-mobile td:nth-child(1) {
    width: 80%;
}

table.pricelist-mobile td:nth-child(2) {
    width: 20%;
    text-align: right;
}

.page-section .half-column {
    width: 100%;
    float: left;
    margin: 40px 0;
    text-align: center;
}

.tele-num {
    font-size: 1.4em;
    text-decoration: none;
    color: black;
}


form {
    width: 100%;
}

form input,
form select,
form textarea {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: .2s all;
}

form input,
form select {
    height: 30px;
}

textarea:focus,
input:focus {
    outline: none;
    border-bottom: 2px solid #fb9ec4;
}

form textarea {
    height: 90px;
}

form button {
    width: 100% !important;
    margin-top: 30px !important;
}

::-webkit-input-placeholder {
    /* Edge */
    color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.3);
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.tiny-text {
    font-size: 2em;
}

.tiny-text span {
    color: #fb9ec4;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.footer {
    background: black;
    width: 100%;
    padding: 100px 0;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.footer .column {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.footer img {
    width: 50%;
}

.footer p {
    color: white;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer .copyright-container {
    width: 100%;
    float: left;
    margin-top: 40px;
    text-align: center;
}

@media screen and (min-width: 769px) {
    body {
        background: #fff;
    }

    .title {
        font-size: 5em;
    }

    .supertitle {
        font-size: 6em;
    }

    .subtitle {
        font-size: 3em;
    }

    .smalltitle {
        font-size: 1em;
    }

    .hide-on-mobile {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    header {
        transition: .2s ease-in-out;
    }

    .logo {
        font-size: 30px;
        color: #000;
        text-decoration: none;
        letter-spacing: 3px;
        float: left;
    }

    .logo img {
        position: relative;
        top: 7px;
    }

    .nav-links {
        display: inline-block;
        text-align: center;
        list-style: none;
        padding: 0;
        transition: .1s all;
    }

    .nav-links li {
        display: inline;
        float: left;
        margin: 0 10px;
        transition: .1s all;
    }

    .nav-links li a {
        display: block;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.67);
        text-transform: uppercase;
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
        transition: .1s all;
    }

    .nav-links:hover li a {
        color: rgba(0, 0, 0, 0.3);
        transition: .1s all;
    }

    .nav-links li a:hover {
        color: rgba(0, 0, 0, 1);
        transition: .1s all;
    }

    .fa-bars {
        display: none !important;
    }

    .socials {
        float: right;
        padding: 3px;
        margin-top: 10px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.67);
    }

    .socials a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.67);
    }

    .socials i {
        padding: 5px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.67);
    }

    .socials i:first-child {
        margin-right: 5px;
    }

    .hero {
        width: 100%;
        text-align: left;
        padding: 190px 0;
    }

    .hero a {
        padding: 20px;
        width: 200px;
        margin-top: 20px;
        text-align: center;
    }

    .hero .btn {
        margin: 10px 0;
        width: 200px;
    }

    .pricelist .hero,
    .thingstoknow .hero {
        text-align: center;
        padding: 150px 0 100px 0;
    }

    .section .half-column {
        width: 50%;
        box-sizing: border-box;
        border: 20px solid white;
    }

    .column-1-3 {
        width: calc(100%/3);
        float: left;
        box-sizing: border-box;
    }

    .front-services .card {
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
        text-align: left;
    }

    .front-services .card h1 {
        margin-left: 40px;
        margin-top: 20px;
    }

    .front-services .card p {
        margin-left: 35px;
        max-width: 300px;
    }

    .front-services .card .btn {
        width: 50%;
        text-align: center;
        background: black;
    }

    .front-services .card .btn:hover {
        background: #333;
    }

    .front-services {
        text-align: center;
    }

    .front-services > .btn {
        width: 20%;
        text-align: center;
        margin: 2px auto;
    }

    .gift-vouchers {
        background-image: url(../img/gift_bg.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        float: left;
    }

    .gift-vouchers h1 {
        text-align: center;
    }

    .gift-vouchers .btn {
        width: 20%;
        ;
    }

    table.pricelist-mobile,
    table.things-mobile {
        display: none;
    }

    table.pricelist-desktop,
    table.things-desktop {
        width: 100%;
        margin-top: 30px;
        display: block;
    }

    table.pricelist-desktop td:nth-child(1),
    table.things-desktop td:nth-child(1) {
        width: 50%;
        float: left;
        border-right: 20px solid white;
        box-sizing: border-box;
    }

    table.pricelist-desktop td:nth-child(2),
    table.things-desktop td:nth-child(2) {
        width: 50%;
        float: left;
        border-left: 20px solid white;
        box-sizing: border-box;
    }

    table.things-desktop {
        width: 100%;
        padding: 0;
    }

    .page-section .half-column {
        width: 50%;
        float: left;
        border: 40px solid white;
        box-sizing: border-box;
        text-align: left;
    }

    form {
        text-align: center;
    }

    form button {
        width: 30% !important;
        margin-top: 30px !important;
    }

    .half-column .body-text {
        font-size: 20px !important;
        text-align: left;
    }

    .tiny-text {}

    .half-column a {
        color: black;
    }

    .footer .column {
        width: 25%;
        text-align: left;
        margin: 0;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer .content {
        background: red !important;
        padding: 10px;
    }

    .footer img {
        width: 14%;
        float: left;
    }

    .footer .copyright-container {
        width: 100%;

    }
}
